# Deployer Service
DEPLOYER_SERVICE_URL=http://deployer-service:8008

# Service URLs
AUTH_SERVICE_URL=http://auth-service:8001
BUILD_SERVICE_URL=http://build-service:8003
REGISTRY_SERVICE_URL=http://registry-service:8007

# Database
DATABASE_URL=postgresql://minipaas:minipaas@postgres:5432/minipaas

# Docker port range for deployments
HOST_PORT_RANGE_START=30000
HOST_PORT_RANGE_END=40000

# Environment
ENV=development
